.list ul li
{
  display: inline;
}

.list ul button
{
  border: none;
  font-color: #CFCFCF;
  margin-left: 10px;
  background-color: transparent; 
}
.container
{
  margin: 50 auto; 
  width: 500px;
  height: 600px;
  background-image: url(./images/background.png);
  text-align: center;
}




